name,address,governorate
El Ezaby,Nasr City,Cairo
Roshdy,Smouha,Alexandria
Seif,Dokki,Giza
El Gomhoria,Mansoura,Dakahlia
El Dawaa,Heliopolis,Cairo
Misr Pharmacies,Zagazig,Sharqia
United Pharmacy,Assuit City,Assuit
Family Care,Port Fouad,Port Said
Hayat Pharmacy,Benha,Qalyubia
Helal Pharmacy,Mahalla,Gharbia
